<!-- Header -->
<link rel="import" href="./layout/header.html">
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<link rel="stylesheet" href="./css/slider.css">
<!-- END: Header -->

<div class="slider" id="wrapper">
  <ul class="slider__container">
    <li class="slider__slide">
      <img class="slider__image" src="http://67.media.tumblr.com/20ef692b593b2591fdb91b4d56c01fb8/tumblr_n1klkuVuNp1sp8304o5_1280.jpg" />
    </li>
    <li class="slider__slide">
      <img class="slider__image" src="https://openclipart.org/image/2400px/svg_to_png/195789/square-animal-7-turtle.png" />
    </li>
    <li class="slider__slide slide__small">
      <img class="slider__image" src="http://farm2.static.flickr.com/1399/1081135349_46a4cdb3a4.jpg" />
    </li>
    <li class="slider__slide">
      <img class="slider__image" src="http://farm3.static.flickr.com/2458/3720259264_1d1d34b867.jpg" />
    </li>
    <li class="slider__slide">
      <img class="slider__image" src="http://media.gettyimages.com/photos/thom-yorke-of-radiohead-performs-at-madison-square-garden-on-july-26-picture-id583558342" />
    </li>
  </ul>
</div>

<div id="indicator">
	<div id="dotty"></div>
</div>

<!-- Footer -->
<script src="./javascript/slider.js"></script>
<link rel="import" href="./layout/footer.html">
<!-- END: Footer -->
